<!DOCTYPE html>
<html>

<body>
    <H1 style="color:rgb(253, 253, 253);background-color:rgb(30,64,124);">Your Orders</H1>
    {% if user_type == "buyer" or user_type == "seller(buyer)" %}
    <div>
        <h2 style="color:rgb(0,142,226)">Bought: </h2>
        <table class="table table-dark">
            <tr style="color:rgb(253, 253, 253);background-color:rgb(30,64,124);">
                <th scope="col"> Transaction ID </th>
                <th scope="col"> Sold by </th>
                <th scope="col"> Product Name </th>
                <th scope="col"> Bought by </th>
                <th scope="col"> Date</th>
                <th scope="col"> Quantity </th>
                <th scope="col"> Total Payment </th>
            </tr>
            <tbody>
                {% for trans_id,seller, product_name, buyer, date, quantity, payment in
                bought %}
                <tr style="background-color:powderblue;">
                    <td> {{ trans_id }} </td>
                    <td> {{ seller }} </td>
                    <td> {{ product_name }} </td>
                    <td> {{ buyer }} </td>
                    <td> {{ date }} </td>
                    <td> {{ quantity }} </td>
                    <td> {{ payment }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
        <br>
        <div>
        {% if user_type=="seller(buyer)" or user_type == "local_vendor" %}
        <h2 style="color:rgb(0,142,226)">Sold: </h2>
        <table class="table table-dark">
            <tr style="color:rgb(253, 253, 253);background-color:rgb(30,64,124);">
                <th scope="col"> Transaction ID </th>
                <th scope="col"> Sold by </th>
                <th scope="col"> Product Name </th>
                <th scope="col"> Bought by </th>
                <th scope="col"> Date</th>
                <th scope="col"> Quantity </th>
                <th scope="col"> Total Payment </th>
            </tr>
            <tbody>
                {% for trans_id,seller, product_name, buyer, date, quantity, payment in
                sold %}
                <tr style="background-color:powderblue;">
                    <td> {{ trans_id }} </td>
                    <td> {{ seller }} </td>
                    <td> {{ product_name }} </td>
                    <td> {{ buyer }} </td>
                    <td> {{ date }} </td>
                    <td> {{ quantity }} </td>
                    <td> {{ payment }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>
        <br>
        <a href="checkingInfo.html">
            <input type="submit" value="Back" />
        </a>

</body>

</html>